/* *{
    margin: 0;
    padding: 0; */

body{
    background-color: rgb(161, 234, 236);
}
header {
    background: darkgray;
    text-align: center;
    margin: 12px 29px 0px 29px;
    padding: 2px 20px 11px 20px;  
    border-radius: 10px;
}
header h1{
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}
header h1:hover{
    color: green;
    text-shadow: 2px 2px 2px white;
    
}
nav a {
    font-size: 1.8rem;
    margin: 5px;
}
nav a:hover{
    background: blueviolet;
    color: white;
    border-radius: 5px;
}
section h2{
    background: rgb(96, 96, 223);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
section h2:hover{
    color: blueviolet;
    background: white;
}
section{
    width: 30%;
    display: inline;
    float: left;
    margin: 11px 1px 32px 33px ;
}
footer{
    clear: both;
    background: darkgray;
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
}
img{
    width: 50px;
    border-radius: 30px;
    padding-top: 10px;
    margin-bottom: 0;
}
footer p{
    text-align: center;
    padding-bottom: 5px;
    font-size: 1.2rem;
}
footer a:hover{
    color: green;
}
    
