body{
    margin: 0;
    padding: 0;
}
header{
    background: url("image/pic.jpg");
    width: 100%;
    padding: 20px;
    
}
header h1{
    width: 18%;
    margin: auto;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 8px;
    font-size: 1.2rem;
    margin-bottom: 22px;
    font-family: arial;
    font-family: 'Lora', serif;
}
header nav a{
    display: inline-block;
    width: 12%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    /* margin: 34px 48px 0px 65px; */
    margin-left: 118px;
    margin-top: 5px;
    background-color: rgba(0,0,0,.1);
    font-family: 'Lora', serif;
}
nav a:hover{
    background: #FFFFFF;

}
.left img{
    width: 200px;
    border: 1px solid black;
    margin: 15px;
    border-radius: 5px;
}
.flex{
    display: flex;
}
.left{
    background-color: cadetblue;
    margin-right: 5px;
    width: 45%;
    padding: 25px;
}
.right{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-weight: bold;
    /* font-family: 'Oxygen Mono', monospace; */
    font-family: 'Lora', serif;
}
