* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 470px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 20px;
    padding-top: 0;
}

.container .heading {
    margin-top: 30px;
    text-align: center;
    padding: 0 30px 0 30px;
    color: hsl(218, 44%, 22%);
}

.container .desc {
    margin-top: 20px;
    padding: 0 30px 0 30px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
}

.container img {
    border-radius: 20px;
    width: 420px;
    margin-top: 20px;
}

@media (max-width:768px) {
    .container {
        width: 420px;
    }
    .container img {
        width: 390px;
    }
}