* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.card {
    width: 320px;
    padding: 15px;
    margin: 8px;
    /* border: 1px solid black; */
    border-radius: 16px;
    box-shadow: 0 0 10px lightgray;
}

.card img {
    width: 100%;
    border-radius: 16px;
}

.card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}

.btn {
    background-color: black;
    color: white;
    padding: 8px 17px;
    border-radius: 66px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 0 4px 0;
    margin-left: 95px;
}

.btn:hover {
    background-color: aliceblue;
    color: black;
}